@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles ="SUPERADMIN")]


<MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="false">
    <SectionContent SectionName="page-title">
        <MudChip T="string" Icon="@Icons.Material.Filled.Dashboard" Size="Size.Medium" Color="Color.Dark" IconColor="Color.Success">Dashboard</MudChip>
    </SectionContent>
</MudHidden>


<MudGrid Justify="Justify.Center" Class="my-2">

    <MudGrid Justify="Justify.FlexEnd">
        <MudItem xs="4" sm="2" Class="mt-1">
            <label>Year</label>
            <MudSelect @bind-Value="enumValue"
            TransformOrigin="Origin.CenterCenter"
            Variant="Variant.Text"
            AdornmentIcon="@Icons.Material.Filled.CalendarMonth"
            Adornment="Adornment.Start" Class="drp_width" InputClass="txt_white" OuterClass="txt_white"
            AdornmentColor="Color.Success">
                @foreach (Year item in Enum.GetValues(typeof(Year)))
                {
                    var year = item;
                    <MudSelectItem Value="@(year)">@year</MudSelectItem>
                }
        </MudSelect>
    </MudItem>
    </MudGrid>

    <MudFlexBreak/>

    <MudItem xs="12" sm="6"  lg="3">
        <MudCard Class="pop-effect" Elevation="10" Style=@($"color:{Colors.Gray.Lighten5}; background:{Colors.Pink.Default};")>
            <MudCardContent>
                <MudItem Class="d-flex justify-space-between">
                    <MudText>Delivered</MudText>
                    <MudIcon Size="Size.Large" Icon="@Icons.Material.Filled.LocalShipping"></MudIcon>
                </MudItem>

                <MudText Align="Align.Center" Typo="Typo.h5">12</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem xs="12" sm="6"  lg="3">
        <MudCard Class="pop-effect" Elevation="10" Style=@($"color:{Colors.Gray.Lighten5}; background:{Colors.DeepPurple.Default};")>
            <MudCardContent>
                <MudItem Class="d-flex justify-space-between">
                    <MudText>Upcomning Delivery</MudText>
                    <MudIcon Size="Size.Large" Icon="@Icons.Material.Filled.PendingActions"></MudIcon>
                </MudItem>

                <MudText Align="Align.Center" Typo="Typo.h5">02</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem xs="12" sm="6"  lg="3">
        <MudCard Class="pop-effect" Elevation="10" Style=@($"color:{Colors.Gray.Lighten5}; background:{Colors.Orange.Darken4};")>
            <MudCardContent>
                <MudItem Class="d-flex justify-space-between">
                    <MudText>Repaired</MudText> 
                    <MudIcon Size="Size.Large" Icon="@Icons.Material.Filled.CheckCircle"></MudIcon>
                </MudItem>
                
                <MudText Align="Align.Center" Typo="Typo.h5">42</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem xs="12" sm="6" lg="3">
        <MudCard Class="pop-effect" Elevation="10" Style=@($"color:{Colors.Gray.Lighten5}; background:{Colors.BlueGray.Darken4};")>
            <MudCardContent>
                <MudItem Class="d-flex justify-space-between">
                    <MudText>Pending Repair</MudText>
                    <MudIcon Size="Size.Large" Icon="@Icons.Material.Filled.TireRepair"></MudIcon>
                </MudItem>

                <MudText Align="Align.Center" Typo="Typo.h5">18</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem  sm="12" md="6" >
        <MudCard Elevation="0">
            <MudCardHeader>

                <CardHeaderContent>
                    <MudText Typo="Typo.body1">Bar Chart</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.BarChart" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
                  
            <MudCardContent>
                <LineChart/>
            </MudCardContent>
        </MudCard>

    </MudItem>
    
    <MudItem sm="12" md="6">
        <MudCard Elevation="0">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">Donut chart</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.DonutSmall" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardContent Class="" >
                <DonutChart/>
            </MudCardContent>
        </MudCard>

    </MudItem>
    
    <MudItem sm="12" md="6">
        <MudCard Elevation="5">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">Upcoming Delivery</MudText>
                </CardHeaderContent>
                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.TableRows" Color="Color.Default" />
                </CardHeaderActions>
            </MudCardHeader>
            <MudCardMedia Image="images/pilars.jpg" Height="250" />
            <MudCardContent>
                <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
            </MudCardContent>
        </MudCard>
    </MudItem>

    <MudItem sm="12" md="6">
        <MudCard Elevation="5">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.body1">Today Orders</MudText>
                    <MudDivider Class="border-2" />
                </CardHeaderContent>

                <CardHeaderActions>
                    <MudIconButton Icon="@Icons.Material.Filled.TableRows" Color="Color.Default" />
                </CardHeaderActions>

            </MudCardHeader>
            <MudCardMedia Image="images/pilars.jpg" Height="250" />
            <MudDivider />  
            <MudCardContent>
                <MudText Typo="Typo.body2">This photo was taken in a small village in Istra Croatia.</MudText>
            </MudCardContent>
        </MudCard>

    </MudItem>

</MudGrid>

<style>
    
    .txt_white 
    {
        color: black;
    }
    
    .drp_width 
    {
        padding: 0px
    }
    .chartContainerWidth{
    width:10rem;
    }

    .pop-effect {
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

        .pop-effect:hover {
            transform: scale(1.05);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            cursor:pointer;
        }
</style>

@code {
    
    private string stringValue { get; set; } = "2025";

    private Year enumValue { get; set; } = Year.Y2025;
    
    public enum Year
    {
        Y2025=2025,
        Y2024=2024,
        Y2023=2023,
        Y2022=2022,   
    }
    
}
